@import "@radix-ui/themes/styles.css";

.tableRowHover {
	position: relative;
	overflow: hidden;
	transition: background-color 0.2s;
}

.tableRowHover::after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0%;
	height: 100%;
	background-color: var(--gray-a4);
	transition: width 0.2s;
}

.tableRowHover.dark::after {
	background-color: var(--gray-a6);
}

.tableRowHover td {
	position: relative;
	z-index: 1;
}

.tableRowHover:hover::after {
	width: 100%;
}